* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#root {
  height: 100%;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Quan trọng: dùng min-height thay height */
}

.custom-scrollbar {
  /* Dành cho Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

/* Dành cho Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Độ rộng siêu mỏng: 4px */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Nền trong suốt, không bị vệt xám xấu xí */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* Màu trắng mờ 20% */
  border-radius: 20px; /* Bo tròn max ping */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Sáng lên khi di chuột vào */
}
