* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#root {
  height: 100%;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Quan trọng: dùng min-height thay height */
}
